nav.navbar-custom {
    background: grey;
}

nav.navbar-custom a {
    color: white;
    font-family: Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua, Georgia, serif;
}

nav.navbar-custom ul.navbar-nav a:hover {
    background: #464646;
}

nav.navbar-custom ul.navbar-nav a:focus, nav.navbar-custom ul.navbar-nav-right a:active {
    background: rgba(248, 158, 48, 1);
}

.container {
    border-radius: 5px;
    background-color: #FFD264;
    height: auto;
    padding: 10px;
}

body {
    background-color: #cccccc;
    font-size: 16px;
    font-family: Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua, Georgia, serif;
}

input[type=text], input[type=password] {
    width: 95%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-family: Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua, Georgia, serif;
}

button {
    background-color: grey;
    color: white;
    padding: 5px 10px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 95%;
    font-family: Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua, Georgia, serif;
}

img.logo {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: 3px solid grey;
    margin: 10px;
    overflow: auto;
}

.logincontainer {
    text-align: center;
}

#uname {
    margin-left: 11px;
    text-align: left;
    font-size: 16px;
}

#pword {
    margin-left: 11px;
    text-align: left;
    font-size: 16px;
}

.infocontainer {
    color: black;
}

span.psw {
    float: right;
}

/* Login Form (background) */

.loginform {
    overflow: auto;
    /* Enable scroll if needed */
    background-color: white;
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.login-content {
    background: rgba(248, 158, 48, 1);
}

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}